{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% include 'header.html' %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="mt-4">{{ category.name }}</h1>
            {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
            {% endfor %}
        </div>
        <div class="col-12">
            <form action="{% url 'category_details_page' pk=category.id %}" method="POST" class="my-2"
                  autocomplete="off">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Create Product</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'shop/products-list.html' %}
            {% endblock %}
        </div>
    </div>
</div>