{% extends 'base.html' %}

{% block head %}
<title>Login</title>
<style>
    .login-row {
        min-height: 80vh;
        padding: 100px 0;
    }
</style>


{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 login-row">
            <div class="col-12">
                <form name="login" method="POST" novalidate>
                    <h2>Login</h2>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="field-wrapper mt-4">
                        {{ field.label_tag }} {{ field }}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary d-block col-12 mt-4" type="submit">Login</button>
                    <a href="/auth/register/" class="d-block text-center mt-4">You don't have an account? Register.</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}